Repository flowacademyhu/iota-munkalap, pull requests merged in 2021-03, with the labels that each got.

#210 !-135-partner-munkalap-osszekapcsolasa
  backend/src/main/java/hu/flowacademy/worksheet/controller/PartnerController.java
  backend/src/main/java/hu/flowacademy/worksheet/controller/UserController.java
  backend/src/main/java/hu/flowacademy/worksheet/controller/WorksheetController.java
  backend/src/main/java/hu/flowacademy/worksheet/entity/Partner.java
  backend/src/main/java/hu/flowacademy/worksheet/entity/Worksheet.java
  backend/src/main/java/hu/flowacademy/worksheet/service/WorksheetService.java
  backend/src/test/java/hu/flowacademy/worksheet/controller/PartnerControllerTest.java
  backend/src/test/java/hu/flowacademy/worksheet/controller/UserControllerTest.java
  backend/src/test/java/hu/flowacademy/worksheet/controller/WorksheetControllerTest.java
  backend/src/test/java/hu/flowacademy/worksheet/helper/TestHelper.java
  backend/src/test/java/hu/flowacademy/worksheet/service/PartnerServiceTest.java
  backend/src/test/java/hu/flowacademy/worksheet/service/UserServiceTest.java
  backend/src/test/java/hu/flowacademy/worksheet/service/WorksheetServiceTest.java
Labels: backend

#180 !160-!161-munkalap-es-munkavallalo-refactoring
  frontend/package-lock.json
  frontend/src/AdminRoute.js
  frontend/src/EmployeeData.js
  frontend/src/Header.js
  frontend/src/LoginForm.js
  frontend/src/Menu.js
  frontend/src/Routing.js
  frontend/src/UserData.js
  frontend/src/api/EmployeeAPI.js
  frontend/src/api/WorkSheetAPI.js
  frontend/src/employees/CreateEmployee.js
  frontend/src/employees/Employee.js
  frontend/src/employees/EmployeeForm.js
  frontend/src/employees/EmployeeListRow.js
  frontend/src/employees/FilterEmployees.js
  frontend/src/employees/TableListOfEmployees.js
  frontend/src/employees/UpdateEmployee.js
  frontend/src/employees/UpdateEmployeeForm.js
  frontend/src/employees/ValidationEmplyee.js
  frontend/src/hooks/useCurrentEmployee.js
  frontend/src/hooks/useEmployeeData.js
  frontend/src/hooks/useEmployees.js
  frontend/src/hooks/useWorksheetData.js
  frontend/src/worksheets/CreateWorkSheet.js
  frontend/src/worksheets/CreateWorkSheetForm.js
  frontend/src/worksheets/TableListOfWorkSheets.js
  frontend/src/worksheets/UpdateWorkSheet.js
  frontend/src/worksheets/Worksheet.js
  frontend/src/worksheets/WorksheetForm.js
Labels: frontend, refactor

#221 Fix/#205-munkalap-szerkesztes-jogosultsag
  frontend/src/Const.js
  frontend/src/specialButtons/EditButton.js
  frontend/src/worksheets/DateRangeFilter.js
  frontend/src/worksheets/StatusFilter.js
  frontend/src/worksheets/TableListOfWorkSheets.js
  frontend/src/worksheets/WorkSheetOperationButtons.js
  frontend/src/worksheets/WorksheetListHeader.js
Labels: bug, frontend

#223 !22-partner-szerkesztese
  frontend/src/Const.js
  frontend/src/hooks/usePartnerData.js
  frontend/src/partners/Partner.js
  frontend/src/partners/PartnerForm.js
  frontend/src/partners/TableListofPartners.js
  frontend/src/worksheets/WorksheetForm.js
Labels: frontend

#211 !-208-munkalap-listazas-sorszam-szerint
  backend/src/main/java/hu/flowacademy/worksheet/service/WorksheetService.java
  backend/src/test/java/hu/flowacademy/worksheet/service/WorksheetServiceTest.java
Labels: backend, bug

#226 !224-partner-keresese-id-alapjan
  backend/src/main/java/hu/flowacademy/worksheet/controller/PartnerController.java
  backend/src/main/java/hu/flowacademy/worksheet/service/PartnerService.java
  backend/src/test/java/hu/flowacademy/worksheet/service/PartnerServiceTest.java
Labels: backend

#225 !133-!134-partner-inaktiválása-aktivalasa
  backend/src/main/java/hu/flowacademy/worksheet/controller/PartnerController.java
  backend/src/main/java/hu/flowacademy/worksheet/dto/PartnerDTO.java
  backend/src/main/java/hu/flowacademy/worksheet/entity/Partner.java
  backend/src/main/java/hu/flowacademy/worksheet/repository/PartnerRepository.java
  backend/src/main/java/hu/flowacademy/worksheet/service/PartnerService.java
  backend/src/test/java/hu/flowacademy/worksheet/controller/PartnerControllerTest.java
  backend/src/test/java/hu/flowacademy/worksheet/helper/TestHelper.java
  backend/src/test/java/hu/flowacademy/worksheet/service/PartnerServiceTest.java
Labels: backend

#218 !217-bug-munkalap-modositas-datum-igazitas
  frontend/src/CalendarDropDown.js
  frontend/src/worksheets/TableListOfWorkSheets.js
  frontend/src/worksheets/WorksheetForm.js
Labels: bug, frontend

#231 !204-Munkalap-pdf-generalas-refactoralasa
  frontend/src/worksheets/tableContents.js
  frontend/src/worksheets/workSheetPDF.js
Labels: frontend

#230 !222-Worksheet-byte-to-string
  backend/pom.xml
  backend/src/main/java/hu/flowacademy/worksheet/controller/WorksheetController.java
  backend/src/main/java/hu/flowacademy/worksheet/service/WorksheetService.java
  backend/src/test/java/hu/flowacademy/worksheet/controller/WorksheetControllerTest.java
  backend/src/test/java/hu/flowacademy/worksheet/service/WorksheetServiceTest.java
  frontend/package-lock.json
Labels: backend, bug

#227 !25-partner-hozzarendelese-a-munkalaphoz
  frontend/package-lock.json
  frontend/package.json
  frontend/src/SearchSelect.js
  frontend/src/worksheets/TableListOfWorkSheets.js
  frontend/src/worksheets/WorksheetForm.js
Labels: frontend

#234 !132-partner-modositasa
  backend/src/main/java/hu/flowacademy/worksheet/controller/PartnerController.java
  backend/src/main/java/hu/flowacademy/worksheet/entity/Partner.java
  backend/src/main/java/hu/flowacademy/worksheet/entity/Worksheet.java
  backend/src/main/java/hu/flowacademy/worksheet/service/PartnerService.java
  backend/src/test/java/hu/flowacademy/worksheet/service/PartnerServiceTest.java
Labels: backend

#235 !-233-munkalap-szerkesztese
  backend/src/main/java/hu/flowacademy/worksheet/configuration/AuditConfiguration.java
  backend/src/main/java/hu/flowacademy/worksheet/configuration/SpringSecurityAuditorAware.java
  backend/src/main/java/hu/flowacademy/worksheet/controller/PartnerController.java
  backend/src/main/java/hu/flowacademy/worksheet/service/PartnerService.java
  backend/src/main/java/hu/flowacademy/worksheet/service/UserService.java
  backend/src/main/java/hu/flowacademy/worksheet/service/WorksheetService.java
  backend/src/test/java/hu/flowacademy/worksheet/service/WorksheetServiceTest.java
Labels: backend, bug

#236 !228-fix-listazas
  backend/src/main/java/hu/flowacademy/worksheet/service/PartnerService.java
  backend/src/main/java/hu/flowacademy/worksheet/service/UserService.java
  backend/src/main/java/hu/flowacademy/worksheet/service/WorksheetService.java
Labels: backend

#239 !23!24-Partner-inaktivalasa-es-aktivalasa
  backend/src/main/java/hu/flowacademy/worksheet/controller/PartnerController.java
  backend/src/main/java/hu/flowacademy/worksheet/service/PartnerService.java
  backend/src/test/java/hu/flowacademy/worksheet/service/PartnerServiceTest.java
  frontend/src/api/PartnerAPI.js
  frontend/src/hooks/usePartners.js
  frontend/src/partners/TableListofPartners.js
  frontend/src/worksheets/WorksheetForm.js
Labels: frontend

#238 !-237-DTO-használata-worksheet-helyett
  backend/src/main/java/hu/flowacademy/worksheet/controller/WorksheetController.java
  backend/src/main/java/hu/flowacademy/worksheet/entity/Partner.java
  backend/src/main/java/hu/flowacademy/worksheet/repository/PartnerRepository.java
  backend/src/main/java/hu/flowacademy/worksheet/service/PartnerService.java
  backend/src/main/java/hu/flowacademy/worksheet/service/WorksheetService.java
  backend/src/main/resources/application.yaml
  backend/src/test/java/hu/flowacademy/worksheet/controller/WorksheetControllerTest.java
  backend/src/test/java/hu/flowacademy/worksheet/service/WorksheetServiceTest.java
  frontend/src/employees/Employee.js
  frontend/src/partners/Partner.js
  frontend/src/partners/ValidationPartner.js
  frontend/src/worksheets/Worksheet.js
Labels: backend, bug, frontend

#244 !232-Bugfix/munkalap-elektronikus-alairas-formazasa
  backend/docker-compose.yaml
  backend/src/main/java/hu/flowacademy/worksheet/controller/WorksheetController.java
  backend/src/main/java/hu/flowacademy/worksheet/dto/WorksheetDTO.java
  backend/src/main/java/hu/flowacademy/worksheet/entity/User.java
  backend/src/main/java/hu/flowacademy/worksheet/service/WorksheetService.java
  backend/src/main/resources/application.yaml
  backend/src/test/java/hu/flowacademy/worksheet/controller/UserControllerTest.java
  backend/src/test/java/hu/flowacademy/worksheet/service/WorksheetServiceTest.java
  frontend/src/employees/Employee.js
  frontend/src/worksheets/Signature.js
  frontend/src/worksheets/TableListOfWorkSheets.js
  frontend/src/worksheets/tableContents.js
Labels: backend, bug, frontend, hotfix, refactor

#252 !250-HOTFIX-Munkavállaló-is-tudja-a-partner-aktivitást-módosítani-legyen-rá-joga
  backend/src/main/java/hu/flowacademy/worksheet/controller/PartnerController.java
Labels: backend, bug

#241 !220-Fix-munkalap-milyen-adat-szerkeszthető
  frontend/src/CalendarDropDown.js
  frontend/src/SearchSelect.js
  frontend/src/SelectInput.js
  frontend/src/TextareaInput.js
  frontend/src/worksheets/WorksheetForm.js
Labels: frontend

#258 !-246-hotfix-signature
  frontend/src/style.css
  frontend/src/worksheets/Signature.js
Labels: bug, frontend

#263 !259-munkalap-lista-letrehozo-neve
  backend/src/main/java/hu/flowacademy/worksheet/entity/User.java
Labels: backend, bug

#265 !261-szoveg-igazitas
  frontend/src/worksheets/WorksheetListHeader.js
Labels: frontend

#262 !-255-partner-kereso-a-munkalapon
  frontend/src/SearchSelect.js
Labels: bug, frontend

#266 !260-Bugfix-munkalap-listazas-sorszam-szerint
  backend/src/main/java/hu/flowacademy/worksheet/service/WorksheetService.java
  backend/src/test/java/hu/flowacademy/worksheet/service/WorksheetServiceTest.java
Labels: backend, bug

#268 !267-initialvalue-adasa-signaturepadhez
  frontend/src/worksheets/WorksheetForm.js
Labels: bug, frontend

#271 !240-employee-list-key-fix
  frontend/src/employees/TableListOfEmployees.js
  frontend/src/partners/TableListofPartners.js
  frontend/src/worksheets/TableListOfWorkSheets.js
Labels: bug, frontend

#272 !269-Bug-reported-worksheet-partner-is-not-editable
  frontend/src/SearchSelect.js
Labels: bug, frontend

#264 !247-Hotfix-pdf
  frontend/src/api/EmployeeAPI.js
  frontend/src/api/PartnerAPI.js
  frontend/src/api/WorkSheetAPI.js
  frontend/src/hooks/useEmployeeData.js
  frontend/src/hooks/usePartnerData.js
  frontend/src/hooks/usePartners.js
  frontend/src/hooks/useWorkSheets.js
  frontend/src/hooks/useWorksheetData.js
  frontend/src/worksheets/TableListOfWorkSheets.js
  frontend/src/worksheets/createWorkSheetPDF.js
  frontend/src/worksheets/tableContents.js
Labels: bug, frontend, hotfix

#275 !273-add-worsheetStatus-to-generated-PDF
  frontend/src/worksheets/tableContents.js
Labels: frontend

#276 !-129-userController-integracios-teszteles
  backend/src/test/java/hu/flowacademy/worksheet/controller/UserControllerTest.java
Labels: backend
