Repository flowacademyhu/iota-munkalap, pull requests merged in 2021-02, with the labels that each got.

#40 Init backend and setup ci
  .github/workflows/spring.yml
  backend/.gitignore
  backend/.mvn/wrapper/MavenWrapperDownloader.java
  backend/.mvn/wrapper/maven-wrapper.jar
  backend/.mvn/wrapper/maven-wrapper.properties
  backend/docker-compose.yaml
  backend/mvnw
  backend/mvnw.cmd
  backend/pom.xml
  backend/src/main/java/hu/flowacademy/munkalap/MunkalapApplication.java
  backend/src/main/resources/application.properties
  backend/src/test/java/hu/flowacademy/munkalap/MunkalapApplicationTests.java
Labels: backend, enhancement, good first issue

#41 !4-Munkatársak-listája
  frontend/package-lock.json
  frontend/package.json
  frontend/public/index.html
  frontend/src/App.js
  frontend/src/App.test.js
  frontend/src/UserAPI.js
  frontend/src/employees/TableListOfEmployees.js
  frontend/src/hooks/useUsers.js
  package-lock.json
Labels: frontend

#43 !5-munkatárs-hozzáadása
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.js
  frontend/src/App.test.js
  frontend/src/Button.js
  frontend/src/Input.js
  frontend/src/PopUp.js
  frontend/src/SaveEmployee.js
  frontend/src/UserAPI.js
  frontend/src/style.css
Labels: frontend

#42 !3-Login-oldal
  frontend/public/index.html
  frontend/src/App.css
  frontend/src/App.js
  frontend/src/App.test.js
  frontend/src/Button.js
  frontend/src/EmailInput.js
  frontend/src/Input.js
  frontend/src/LoginForm.js
  frontend/src/PasswordInput.js
  frontend/src/UserAPI.js
  frontend/src/style.css
Labels: frontend

#45 !1-!2-routing-es-menu
  .gitignore.swp
  frontend/src/App.css
  frontend/src/App.js
  frontend/src/Menu-item.js
  frontend/src/Page.js
  frontend/src/img/logo.svg
  frontend/src/img/tools.png
  frontend/src/img/uj_logo.png
  frontend/src/style.css
Labels: frontend

#47 !8-munkatars-szerkesztese
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.js
  frontend/src/EditButton.js
  frontend/src/Page.js
  frontend/src/PopUp.js
  frontend/src/UserAPI.js
  frontend/src/employees/CreateEmployee.js
  frontend/src/employees/EmployeeForm.js
  frontend/src/employees/TableListOfEmployees.js
  frontend/src/employees/UpdateEmployee.js
Labels: frontend

#51 !50-Login-oldal-fixálása
  frontend/package.json
  frontend/src/App.js
  frontend/src/LoginForm.js
  frontend/src/Page.js
  frontend/src/UserAPI.js
  frontend/src/hooks/useToken.js
Labels: frontend

#53 !52-Fixing-munkatars-szerkesztese-oldal
  frontend/src/employees/CreateEmployee.js
  frontend/src/employees/CreateEmployeeForm.js
  frontend/src/employees/UpdateEmployee.js
  frontend/src/employees/UpdateEmployeeForm.js
Labels: frontend

#49 !6-munkatár-inaktiválása
  frontend/src/Button.js
  frontend/src/UserAPI.js
  frontend/src/employees/TableListOfEmployees.js
Labels: frontend

#44 !34-felhasznalo-hozzaadasa
  backend/pom.xml
  backend/src/main/java/hu/flowacademy/worksheet/MunkalapApplication.java
  backend/src/main/java/hu/flowacademy/worksheet/configuration/KeycloakClientConfiguration.java
  backend/src/main/java/hu/flowacademy/worksheet/configuration/KeycloakPropertiesConfiguration.java
  backend/src/main/java/hu/flowacademy/worksheet/configuration/KeycloakSecurityConfig.java
  backend/src/main/java/hu/flowacademy/worksheet/controller/UserController.java
  backend/src/main/java/hu/flowacademy/worksheet/dto/UserOperationDTO.java
  backend/src/main/java/hu/flowacademy/worksheet/entity/User.java
  backend/src/main/java/hu/flowacademy/worksheet/enumCustom/Role.java
  backend/src/main/java/hu/flowacademy/worksheet/exception/CustomExceptionHandler.java
  backend/src/main/java/hu/flowacademy/worksheet/exception/ValidationException.java
  backend/src/main/java/hu/flowacademy/worksheet/exception/WorksheetUsernameTakenException.java
  backend/src/main/java/hu/flowacademy/worksheet/repository/UserRepository.java
  backend/src/main/java/hu/flowacademy/worksheet/service/KeycloakClientService.java
  backend/src/main/java/hu/flowacademy/worksheet/service/UserService.java
  backend/src/main/resources/application.properties
  backend/src/main/resources/application.yaml
  backend/src/main/resources/logback.xml
  backend/src/test/java/hu/flowacademy/worksheet/MunkalapApplicationTests.java
  backend/src/test/java/hu/flowacademy/worksheet/service/UserServiceTest.java
Labels: backend

#59 !37-Feature-felhasznalo-kereses
  backend/src/main/java/hu/flowacademy/worksheet/controller/UserController.java
  backend/src/main/java/hu/flowacademy/worksheet/repository/UserRepository.java
  backend/src/main/java/hu/flowacademy/worksheet/service/UserService.java
  backend/src/test/java/hu/flowacademy/worksheet/service/UserServiceTest.java
Labels: backend

#58 !55-Kijelentkezés
  frontend/src/LogOut.js
  frontend/src/Page.js
  frontend/src/hooks/useToken.js
  frontend/src/style.css
Labels: frontend

#66 snake case changed to camelcase in user and useropsDTO
  backend/src/main/java/hu/flowacademy/worksheet/dto/UserOperationDTO.java
  backend/src/main/java/hu/flowacademy/worksheet/entity/User.java
Labels: backend, enhancement

#72 changed Like to Contain in UserRepository userFiltering
  backend/src/main/java/hu/flowacademy/worksheet/repository/UserRepository.java
  backend/src/main/java/hu/flowacademy/worksheet/service/UserService.java
  backend/src/test/java/hu/flowacademy/worksheet/service/UserServiceTest.java
Labels: bug

#63 !62-Front-end-valtoztatas-hogy-kommunikaljon-a-back-enddel
  frontend/package.json
  frontend/src/Button.js
  frontend/src/LoginForm.js
  frontend/src/Menu-item.js
  frontend/src/PopUp.js
  frontend/src/UserAPI.js
  frontend/src/employees/CreateEmployee.js
  frontend/src/employees/CreateEmployeeForm.js
  frontend/src/employees/TableListOfEmployees.js
  frontend/src/employees/UpdateEmployee.js
  frontend/src/employees/UpdateEmployeeForm.js
Labels: frontend

#82 !80-keycloak-property-name-fix-login-client-fix-autowired-delete
  backend/src/main/java/hu/flowacademy/worksheet/configuration/KeycloakClientConfiguration.java
  backend/src/main/java/hu/flowacademy/worksheet/configuration/KeycloakPropertiesConfiguration.java
  backend/src/main/java/hu/flowacademy/worksheet/service/KeycloakClientService.java
Labels: backend, bug

#78 !57-munkatars-nevvalidacio
  frontend/src/employees/CreateEmployeeForm.js
  frontend/src/employees/TableListOfEmployees.js
  frontend/src/employees/UpdateEmployeeForm.js
Labels: frontend

#79 !77-felhasznalok-keresesenek-atdolgozasa
  backend/pom.xml
  backend/src/main/java/hu/flowacademy/worksheet/repository/UserRepository.java
  backend/src/main/java/hu/flowacademy/worksheet/service/UserService.java
  backend/src/test/java/hu/flowacademy/worksheet/service/UserServiceTest.java
Labels: backend

#75 !Egy-felhasználó-lekerese-#73
  backend/src/main/java/hu/flowacademy/worksheet/controller/UserController.java
  backend/src/main/java/hu/flowacademy/worksheet/service/UserService.java
Labels: backend

#64 !Felhasználók-módosítása-#35
  backend/src/main/java/hu/flowacademy/worksheet/controller/UserController.java
  backend/src/main/java/hu/flowacademy/worksheet/service/UserService.java
  backend/src/test/java/hu/flowacademy/worksheet/service/UserServiceTest.java
Labels: backend

#83 !81-Fix-front-end-hogy-csak-az-admin-tudjon-munkatársat-létrehozni
  frontend/src/UserAPI.js
Labels: frontend

#74 !36-feature-felhasznalo-inaktivalas
  backend/src/main/java/hu/flowacademy/worksheet/controller/UserController.java
  backend/src/main/java/hu/flowacademy/worksheet/enumCustom/Status.java
  backend/src/main/java/hu/flowacademy/worksheet/service/KeycloakClientService.java
  backend/src/main/java/hu/flowacademy/worksheet/service/UserService.java
  backend/src/test/java/hu/flowacademy/worksheet/service/UserServiceTest.java
Labels: backend

#76 !33-felhasznalok-listazasa
  .gitignore
  backend/pom.xml
  backend/src/main/java/hu/flowacademy/worksheet/configuration/PagingProperties.java
  backend/src/main/java/hu/flowacademy/worksheet/controller/UserController.java
  backend/src/main/java/hu/flowacademy/worksheet/repository/UserRepository.java
  backend/src/main/java/hu/flowacademy/worksheet/service/UserService.java
  backend/src/main/resources/application.yaml
  backend/src/test/java/hu/flowacademy/worksheet/service/UserServiceTest.java
  frontend/src/employees/TableListOfEmployees.js
Labels: backend

#88 !88-frontend-backend-kommunikáció-fix
  backend/src/main/java/hu/flowacademy/worksheet/controller/UserController.java
  backend/src/main/resources/application.yaml
Labels: bug

#87 !#67-Munkalap-letrehozasa
  backend/src/main/java/hu/flowacademy/worksheet/controller/WorksheetController.java
  backend/src/main/java/hu/flowacademy/worksheet/dto/UserOperationDTO.java
  backend/src/main/java/hu/flowacademy/worksheet/dto/WorksheetDTO.java
  backend/src/main/java/hu/flowacademy/worksheet/entity/Worksheet.java
  backend/src/main/java/hu/flowacademy/worksheet/enumCustom/AssetSettlement.java
  backend/src/main/java/hu/flowacademy/worksheet/enumCustom/TypeOfPayment.java
  backend/src/main/java/hu/flowacademy/worksheet/enumCustom/TypeOfWork.java
  backend/src/main/java/hu/flowacademy/worksheet/enumCustom/WorkingTimeAccounting.java
  backend/src/main/java/hu/flowacademy/worksheet/enumCustom/WorksheetStatus.java
  backend/src/main/java/hu/flowacademy/worksheet/repository/WorksheetRepository.java
  backend/src/main/java/hu/flowacademy/worksheet/service/WorksheetService.java
  backend/src/test/java/hu/flowacademy/worksheet/service/WorksheetServiceTest.java
Labels: backend

#90 !69-munkalap-keszre-jelentese
  backend/src/main/java/hu/flowacademy/worksheet/controller/WorksheetController.java
  backend/src/main/java/hu/flowacademy/worksheet/repository/WorksheetRepository.java
  backend/src/main/java/hu/flowacademy/worksheet/service/WorksheetService.java
  backend/src/test/java/hu/flowacademy/worksheet/service/WorksheetServiceTest.java
Labels: backend

#95 Docker-compose update
  backend/.dockerignore
  backend/docker-compose.yaml
Labels: backend, enhancement

#91 !70-munkalap-lezarasa
  backend/src/main/java/hu/flowacademy/worksheet/controller/WorksheetController.java
  backend/src/main/java/hu/flowacademy/worksheet/service/WorksheetService.java
  backend/src/test/java/hu/flowacademy/worksheet/service/WorksheetServiceTest.java
Labels: backend

#99 !#98-Munkalap-letrehozasa-kiegeszites
  backend/src/main/java/hu/flowacademy/worksheet/controller/WorksheetController.java
  backend/src/main/java/hu/flowacademy/worksheet/dto/WorksheetDTO.java
  backend/src/main/java/hu/flowacademy/worksheet/entity/Worksheet.java
  backend/src/main/java/hu/flowacademy/worksheet/service/WorksheetService.java
  backend/src/test/java/hu/flowacademy/worksheet/service/WorksheetServiceTest.java
Labels: backend, bug

#97 !85-bejelentkezett-user-megjelenitese
  backend/.gitignore
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.js
  frontend/src/Button.js
  frontend/src/EditButton.js
  frontend/src/Header.js
  frontend/src/LoginForm.js
  frontend/src/Menu.js
  frontend/src/Page.js
  frontend/src/Routing.js
  frontend/src/UserData.js
  frontend/src/employees/CreateEmployeeForm.js
  frontend/src/employees/TableListOfEmployees.js
  frontend/src/employees/UpdateEmployeeForm.js
  frontend/src/hooks/useToken.js
  frontend/src/style.css
Labels: frontend

#101 !38-felhasznalok-szurese-aktivitas-szerint
  backend/src/main/java/hu/flowacademy/worksheet/controller/UserController.java
  backend/src/main/java/hu/flowacademy/worksheet/entity/User.java
  backend/src/main/java/hu/flowacademy/worksheet/repository/UserRepository.java
  backend/src/main/java/hu/flowacademy/worksheet/service/UserService.java
  backend/src/main/java/hu/flowacademy/worksheet/service/filter/UserSpecification.java
  backend/src/test/java/hu/flowacademy/worksheet/service/UserServiceTest.java
Labels: backend

#112 !111-Felhasznalo-kereses-bugfix
  frontend/src/api/UserAPI.js
Labels: frontend

#110 !104-munkavallalok-oldalt-csak-admin-lassa
  backend/keycloak/realm.json
  frontend/src/Menu.js
  frontend/src/UserData.js
  frontend/src/hooks/useCurrentUser.js
  frontend/src/worksheets/TableListOfWorkSheets.js
Labels: frontend

#114 !113-HOT FIX-uj-munkalap-letrehozasa-gombra-kattintva-a-megfelelo-oldalra-keruljunk
  frontend/src/Routing.js
Labels: frontend

#100 !68-Munkalap-szerkesztese
  backend/db/demo.mv.db
  backend/src/main/java/hu/flowacademy/worksheet/controller/WorksheetController.java
  backend/src/main/java/hu/flowacademy/worksheet/service/WorksheetService.java
  backend/src/test/java/hu/flowacademy/worksheet/service/WorksheetServiceTest.java
Labels: backend

#109 !84-Munkalapok-listazasa
  backend/src/main/java/hu/flowacademy/worksheet/configuration/AuditConfiguration.java
  backend/src/main/java/hu/flowacademy/worksheet/configuration/SpringSecurityAuditorAware.java
  backend/src/main/java/hu/flowacademy/worksheet/controller/WorksheetController.java
  backend/src/main/java/hu/flowacademy/worksheet/dto/WorksheetDTO.java
  backend/src/main/java/hu/flowacademy/worksheet/entity/Worksheet.java
  backend/src/main/java/hu/flowacademy/worksheet/repository/UserRepository.java
  backend/src/main/java/hu/flowacademy/worksheet/service/WorksheetService.java
  backend/src/test/java/hu/flowacademy/worksheet/service/WorksheetServiceTest.java
Labels: backend

#120 !119-Munkalap-letrehozasa-adminnal
  backend/src/main/java/hu/flowacademy/worksheet/configuration/UserBootstrap.java
Labels: backend, bug, hotfix

#96 !94-felhasználó-lista-frissítés-és-státusz-fix
  frontend/src/api/UserAPI.js
  frontend/src/employees/EmployeeListRow.js
  frontend/src/employees/TableListOfEmployees.js
  frontend/src/hooks/useUsers.js
Labels: bug, frontend

#107 !102-munkalapok-szurese-idopont-szerint
  backend/src/main/java/hu/flowacademy/worksheet/configuration/KeycloakClientConfiguration.java
  backend/src/main/java/hu/flowacademy/worksheet/controller/WorksheetController.java
  backend/src/main/java/hu/flowacademy/worksheet/repository/WorksheetRepository.java
  backend/src/main/java/hu/flowacademy/worksheet/service/UserService.java
  backend/src/main/java/hu/flowacademy/worksheet/service/WorksheetService.java
  backend/src/main/java/hu/flowacademy/worksheet/service/filter/WorksheetSpecification.java
  backend/src/test/java/hu/flowacademy/worksheet/service/UserServiceTest.java
  backend/src/test/java/hu/flowacademy/worksheet/service/WorksheetServiceTest.java
Labels: backend

#126 !10-munkatarsak-szurese-aktivitas-szerint
  frontend/src/api/UserAPI.js
  frontend/src/employees/FilterUsers.js
  frontend/src/employees/TableListOfEmployees.js
  frontend/src/hooks/useUsers.js
Labels: frontend

#121 !106-design-modifications
  .gitignore
  frontend/package-lock.json
  frontend/package.json
  frontend/src/Header.js
  frontend/src/LoadingScreen.js
  frontend/src/Routing.js
  frontend/src/ToolsButton.js
  frontend/src/employees/TableListOfEmployees.js
  frontend/src/img/Pulse-1s-200px.gif
  frontend/src/img/tools.png
  frontend/src/partners/TableListofPartners.js
  frontend/src/worksheets/TableListOfWorkSheets.js
Labels: frontend

#145 !141-Egy-munkalap-lekerese-id-alapjan
  backend/src/main/java/hu/flowacademy/worksheet/controller/WorksheetController.java
  backend/src/main/java/hu/flowacademy/worksheet/service/WorksheetService.java
  backend/src/test/java/hu/flowacademy/worksheet/service/WorksheetServiceTest.java
Labels: backend

#147 !117-Felhasznalo-kereses-keses-bugfix
  frontend/src/Routing.js
  frontend/src/SelectInput.js
  frontend/src/api/UserAPI.js
  frontend/src/api/WorkSheetAPI.js
  frontend/src/employees/FilterUsers.js
  frontend/src/employees/TableListOfEmployees.js
  frontend/src/hooks/useUsers.js
Labels: frontend

#152 !-151-min-max-roles-allowed-worksheet
  backend/src/main/java/hu/flowacademy/worksheet/controller/WorksheetController.java
  backend/src/main/java/hu/flowacademy/worksheet/service/filter/WorksheetSpecification.java
  backend/src/test/java/hu/flowacademy/worksheet/MunkalapApplicationTests.java
Labels: backend

#139 !123-sikertelen-muvelet-utan-pop-up-gombja-mukodjon
  frontend/src/employees/CreateEmployee.js
  frontend/src/employees/UpdateEmployee.js
  frontend/src/worksheets/CreateWorkSheet.js
Labels: bug, frontend

#125 !115-Bugfix-ekezetes-betuk-rosszul-jelennek-meg-a-headerben
  frontend/package-lock.json
  frontend/package.json
  frontend/src/hooks/useCurrentUser.js
Labels: frontend

#138 !137-Bugfix-modify-sort-of-user-asc-to-desc
  backend/src/main/java/hu/flowacademy/worksheet/service/UserService.java
  backend/src/test/java/hu/flowacademy/worksheet/service/UserServiceTest.java
Labels: backend, bug

#155 !-154-orElse-átírása-a-WorsksheetSpecificationben
  backend/src/main/java/hu/flowacademy/worksheet/service/filter/WorksheetSpecification.java
Labels: backend, bug

#153 !19-munkalap-veglegesites
  frontend/src/api/WorkSheetAPI.js
  frontend/src/employees/EmployeeListRow.js
  frontend/src/hooks/useWorkSheets.js
  frontend/src/specialButtons/CloseButton.js
  frontend/src/specialButtons/EditButton.js
  frontend/src/style.css
  frontend/src/worksheets/TableListOfWorkSheets.js
Labels: frontend

#157 !156-Bugfix-munkalap-letrehozasa-kiszallasra-javitas
  frontend/src/worksheets/CreateWorkSheetForm.js
  frontend/src/worksheets/ValidationWorkSheet.js
Labels: bug, frontend

#159 !158-nem-admin-ne-erje-el-az-employeest
  frontend/src/Routing.js
Labels: bug, frontend

#164 !-163-munkalap_listazasa_idorendszerint_csokkeno
  backend/src/main/java/hu/flowacademy/worksheet/service/WorksheetService.java
  backend/src/test/java/hu/flowacademy/worksheet/service/WorksheetServiceTest.java
Labels: backend, bug

#165 !162-VERYHOTFIX-routing
  frontend/src/AdminRoute.js
  frontend/src/Routing.js
  frontend/src/style.css
Labels: bug, frontend

#166 !17-Munkalap-digitalis-alairasa
  frontend/package-lock.json
  frontend/package.json
  frontend/src/worksheets/CreateWorkSheetForm.js
  frontend/src/worksheets/Signature.js
  frontend/src/worksheets/TableListOfWorkSheets.js
  frontend/src/worksheets/UpdateWorkSheetForm.js
Labels: frontend

#173 !172-orElse-lecserelese-orElseGetre-idoszerinti-szuresnel
  backend/src/main/java/hu/flowacademy/worksheet/service/filter/WorksheetSpecification.java
Labels: backend, bug

#175 !174-mentes-es-keszre-jelentes-backend
  backend/src/main/java/hu/flowacademy/worksheet/service/WorksheetService.java
Labels: backend

#179 Start keycloak in ci
  .github/workflows/main.yml
Labels: backend, enhancement

#177 !-170-munkalap-sorszama
  backend/pom.xml
  backend/src/main/java/hu/flowacademy/worksheet/dto/UserOperationDTO.java
  backend/src/main/java/hu/flowacademy/worksheet/dto/WorksheetDTO.java
  backend/src/main/java/hu/flowacademy/worksheet/entity/Worksheet.java
  backend/src/main/java/hu/flowacademy/worksheet/generator/WorksheetSerialGenerator.java
  backend/src/test/java/hu/flowacademy/worksheet/controller/WorksheetControllerTest.java
  backend/src/test/java/hu/flowacademy/worksheet/helper/TestHelper.java
Labels: backend, bug

#176 !18-munkalap-keszre-jelentese
  frontend/src/api/WorkSheetAPI.js
  frontend/src/specialButtons/CloseButton.js
  frontend/src/specialButtons/FinalizeButton.js
  frontend/src/style.css
  frontend/src/worksheets/CreateWorkSheetForm.js
  frontend/src/worksheets/TableListOfWorkSheets.js
Labels: frontend

#182 !124-Munkavallalo-modositas-keycloak
  backend/src/main/java/hu/flowacademy/worksheet/controller/UserController.java
  backend/src/main/java/hu/flowacademy/worksheet/service/KeycloakClientService.java
  backend/src/main/java/hu/flowacademy/worksheet/service/UserService.java
Labels: backend, bug

#184 !171-Fix-munkalap-lista
  frontend/src/worksheets/TableListOfWorkSheets.js
Labels: bug, frontend

#193 skip tests from docker build
  backend/Dockerfile
Labels: backend, bug

#186 !167-fix-munkalap-datuma
  frontend/package-lock.json
  frontend/package.json
  frontend/src/CalendarDropDown.js
  frontend/src/worksheets/CreateWorkSheetForm.js
Labels: bug, frontend

#190 !183-fix-munkalap-datum-es-szures-backenden
  backend/src/main/java/hu/flowacademy/worksheet/controller/WorksheetController.java
  backend/src/main/java/hu/flowacademy/worksheet/dto/WorksheetDTO.java
  backend/src/main/java/hu/flowacademy/worksheet/entity/Worksheet.java
  backend/src/main/java/hu/flowacademy/worksheet/service/WorksheetService.java
  backend/src/main/java/hu/flowacademy/worksheet/service/filter/WorksheetSpecification.java
  backend/src/test/java/hu/flowacademy/worksheet/controller/WorksheetControllerTest.java
  backend/src/test/java/hu/flowacademy/worksheet/service/WorksheetServiceTest.java
Labels: backend, bug

#178 !12-munkalap-lista-szures-datum-szerint
  frontend/src/CalendarDropDown.js
  frontend/src/api/WorkSheetAPI.js
  frontend/src/employees/TableListOfEmployees.js
  frontend/src/hooks/useWorkSheets.js
  frontend/src/worksheets/TableListOfWorkSheets.js
Labels: frontend

#181 !168-Fix-munkalap-leirasa-fe
  frontend/src/TextareaInput.js
  frontend/src/employees/TableListOfEmployees.js
  frontend/src/worksheets/CreateWorkSheetForm.js
  frontend/src/worksheets/TableListOfWorkSheets.js
Labels: bug, frontend

#187 !131-Partner-letrehozasa
  backend/pom.xml
  backend/src/main/java/hu/flowacademy/worksheet/controller/PartnerController.java
  backend/src/main/java/hu/flowacademy/worksheet/controller/WorksheetController.java
  backend/src/main/java/hu/flowacademy/worksheet/dto/PartnerDTO.java
  backend/src/main/java/hu/flowacademy/worksheet/entity/Partner.java
  backend/src/main/java/hu/flowacademy/worksheet/entity/Worksheet.java
  backend/src/main/java/hu/flowacademy/worksheet/enumCustom/OrderType.java
  backend/src/main/java/hu/flowacademy/worksheet/repository/PartnerRepository.java
  backend/src/main/java/hu/flowacademy/worksheet/service/PartnerService.java
  backend/src/test/java/hu/flowacademy/worksheet/controller/PartnerControllerTest.java
  backend/src/test/java/hu/flowacademy/worksheet/service/PartnerServiceTest.java
  backend/src/test/java/hu/flowacademy/worksheet/service/WorksheetServiceTest.java
  frontend/src/uj_logo.png
  frontend/src/worksheets/uj_logo.png
Labels: backend

#195 !-194-felhasznalo-kereses
  backend/src/main/java/hu/flowacademy/worksheet/service/UserService.java
  backend/src/main/java/hu/flowacademy/worksheet/service/filter/UserSpecification.java
Labels: backend, bug

#196 !189-Elektronikus-alairas-tarolasa-be
  backend/src/main/java/hu/flowacademy/worksheet/controller/WorksheetController.java
  backend/src/main/java/hu/flowacademy/worksheet/entity/Worksheet.java
  backend/src/test/java/hu/flowacademy/worksheet/controller/WorksheetControllerTest.java
  backend/src/test/java/hu/flowacademy/worksheet/service/WorksheetServiceTest.java
Labels: backend

#146 !13-munkalap-lista-szurese-allapot-szerint
  frontend/src/CalendarDropDown.js
  frontend/src/api/WorkSheetAPI.js
  frontend/src/hooks/useWorkSheets.js
  frontend/src/worksheets/FilterWorkSheets.js
  frontend/src/worksheets/TableListOfWorkSheets.js
  frontend/src/worksheets/TranslationForWorkSheet.js
Labels: frontend

#192 !20-partnerek-listazasa
  frontend/package-lock.json
  frontend/src/Routing.js
  frontend/src/api/PartnerAPI.js
  frontend/src/hooks/usePartners.js
  frontend/src/partners/Address.js
  frontend/src/partners/TableListofPartners.js
Labels: frontend

#201 !169-Munkalap-leirasa-3000-karakter-be
  backend/src/main/java/hu/flowacademy/worksheet/entity/Worksheet.java
  backend/src/main/java/hu/flowacademy/worksheet/service/WorksheetService.java
  backend/src/test/java/hu/flowacademy/worksheet/controller/WorksheetControllerTest.java
Labels: backend

#198 !-136-partner-listazasa
  backend/src/main/java/hu/flowacademy/worksheet/controller/PartnerController.java
  backend/src/main/java/hu/flowacademy/worksheet/service/PartnerService.java
  backend/src/main/java/hu/flowacademy/worksheet/service/filter/PartnerSpecification.java
  backend/src/test/java/hu/flowacademy/worksheet/controller/PartnerControllerTest.java
Labels: backend

#191 !15-Munkalap-nyomtatasa
  frontend/package-lock.json
  frontend/package.json
  frontend/src/img/pdf_logo.png
  frontend/src/specialButtons/PdfButton.js
  frontend/src/style.css
  frontend/src/worksheets/LogoForPdf.js
  frontend/src/worksheets/TableListOfWorkSheets.js
  frontend/src/worksheets/TranslationForWorkSheet.js
  frontend/src/worksheets/renderSvg.js
  frontend/src/worksheets/workSheetPDF.js
Labels: frontend

#202 left-out-commit
  frontend/src/partners/TableListofPartners.js
Labels: bug, frontend
